@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
}  

.image-fond {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.2;        
}

#fondform{
    position: relative;
    z-index: 3;
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px grey;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    opacity: 0.85;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

input{
    width: 100%;
    margin: auto;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
}

.bouton{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    width: 90%;
}

.binscription{
    padding: 10px 0px 10px 0px;
    height: 20px;
}

.formbouton{
    margin-top: 40px;
}

#mdp{
    color: gray;
}

#pmdp{
    margin-top: 10px;
}